version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres_db
#    restart: always
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5444:5432"

  api:
    build: .
    container_name: app
#    restart: always
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app

volumes:
  postgres_data: