version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DATABASE: mydatabase
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5444:5432"

  api:
    build: .
    container_name: app
    depends_on:
      - db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DATABASE: mydatabase
      POSTGRES_PORT: 5432
      POSTGRES_HOST: db
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app

volumes:
  postgres_data: