version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DATABASE: mydatabase
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./app/infrastructure/init:/docker-entrypoint-initdb.d
    ports:
      - "5444:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 2s
      timeout: 5s
      retries: 10

  api:
    build: .
    container_name: app
    depends_on:
      - db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DATABASE: mydatabase
      POSTGRES_PORT: 5432
      POSTGRES_HOST: db
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app

  tests:
    build: .
    container_name: app-tests
    depends_on:
      - db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DATABASE: mydatabase
    volumes:
      - ./:/app
    working_dir: /app
    command: [ "pytest", "--asyncio-mode=auto", "tests/" ]
volumes:
  postgres_data: